body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

#chart-holder {
  margin-left:50px;
  margin-right:50px;
}
.chart-top-label {
  height:20px;
}
.chart-left-label {
  position: relative;
}
.top-left-label {
  text-align: right;
  padding-top:150px;
  height:300px;
}
.bottom-left-label {
  text-align:right;
  padding-top:150px;
  height:300px;
}
.fraction-label{
  display:inline-block;
  position:relative;
}
.fraction-label-text {
  position:absolute;
  left:-30px;
  top:-26px;
}
.fraction {
  display:inline-block;
}
.numerator {
  display:block;
  border-bottom: solid 1px black;
}
.denominator {
  display:block;
}
svg {
  border-radius:3px;

  border:solid 2px gray;
}

.svg-overlay {
  position:absolute;
  top:0px;
  height:600px;
  width:100%;
  font-weight: bold
}
.partial-opacity {
  opacity:0.6!important;
}
.overlay-left-quadrant{
  opacity: 0;
  color:black;
  background-color: #F291B2;
  position:absolute;
  height:100%;
  width:50%;
  top:0px;
}

.overlay-top-left-quadrant{
  opacity: 0;
  color:black;
  background-color: #F598B7;
  position:absolute;
  height:50%;
  width:50%;
  top:0px;
}

.overlay-bottom-left-quadrant{
  opacity: 0;
  color: white;
  background-color: #B85374!important;
  position:absolute;
  height:50%;
  width:50%;
  top:50%;
}

.overlay-right-quadrant{
  opacity: 0;
  background-color: #B7F598;
  position:absolute;
  left:50%;
  height:100%;
  width:50%;
  top:0px;
}


.overlay-top-right-quadrant{
  opacity: 0;
  position:absolute;
  color:white;
  background-color: #6E8F5E;
  left:50%;
  height:50%;
  width:50%;
  top:0px;
}


.overlay-bottom-right-quadrant{
  opacity: 0;
  color:black;
  background-color: #C6FAAC;
  position:absolute;
  left:50%;
  height:50%;
  width:50%;
  top:50%;
}

.popover {
  width:500px!important;
}
.popover.in {
 width:500px!important;
}

.overlay-label {
  margin-left:10px;
  font-size:22pt;
}