<div id="chart-holder">
	<div class="row chart-top-label">
		<div class="col-lg-3 col-sm-3">
		</div>
		<div class="col-lg-9 col-sm-9">
			<div class="row">
				<div ng-show="is_prevalence_applied" class="col-lg-6 col-sm-6 text-center">
					Disease ({{population.disease_count}})
				</div>
				<div ng-show="is_prevalence_applied" class="col-lg-6 col-sm-6 text-center">
					No Disease ({{population.healthy_count}})
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3 col-sm-3">
			<div ng-show = "is_sensitivity_applied || is_specificity_applied" class="chart-left-label row">
				<div class="col-sm-6 col-lg-6">
					<div class="top-left-label">
						Positive Test ({{population.true_positive_count + population.false_positive_count}})
					</div>
					<div class="bottom-left-label">
						Negative Test ({{population.true_negative_count + population.false_negative_count}})
					</div>
				</div>
				<div class="col-sm-6 col-lg-6">
					<div class="top-left-label">
						<div class="fraction-label">
							<span class="fraction-label-text">
								PPV:
							</span>
						</div>
						<div class="fraction">
							<span class="numerator text-center">{{population.true_positive_count}} </span>
							<span class="denominator text-center"> ({{population.true_positive_count}} + {{population.false_positive_count}})</span>
						</div>
					</div>
					<div class="bottom-left-label">
						<div class="fraction-label">
							<span class="fraction-label-text">
								NPV:
							</span>
						</div>
						<div class="fraction">
							<span class="numerator text-center">{{population.true_negative_count}} </span>
							<span class="denominator text-center"> ({{population.true_negative_count}} + {{population.false_negative_count}})</span>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-sm-9">
			<svg></svg>
			<div class="svg-overlay">
				<div ng-show="is_prevalence_applied && !is_sensitivity_applied" class="overlay-left-quadrant" chart-region-overlay>
					<p class="overlay-label">Disease</p>
				</div>

				<div ng-show="is_prevalence_applied && is_sensitivity_applied" class="overlay-top-left-quadrant" chart-region-overlay>
					<p class="overlay-label">True Positive</p>
				</div>

				<div ng-show="is_prevalence_applied && is_sensitivity_applied" class="overlay-bottom-left-quadrant" chart-region-overlay>
					<p class="overlay-label">False Positive</p>
				</div>

				<div ng-show="is_prevalence_applied && !is_specificity_applied" class="overlay-right-quadrant" chart-region-overlay>
					<p class="overlay-label">Healthy</p>
				</div>
				<div ng-show="is_prevalence_applied && is_specificity_applied" class="overlay-top-right-quadrant" chart-region-overlay>
					<p class="overlay-label">False Negative</p>
				</div>
				<div ng-show="is_prevalence_applied && is_specificity_applied" class="overlay-bottom-right-quadrant" chart-region-overlay>
					<p class="overlay-label">True Negative</p>
				</div>

			</div>
		</div>
		<div class="row chart-bottom-label">
			<div class="col-lg-3 col-sm-3">
			</div>
			<div class="col-lg-9 col-sm-9">
				<div class="row">
					<div ng-show="is_prevalence_applied" class="col-lg-6 col-sm-6 text-center">
						<div class="input-group">
							<span class="input-group-btn">
								<button popover-trigger="mouseenter" popover-html-unsafe="<h4>Sensitivity tells us how good a test is at finding people with disease.</h4> So a sensitivity of <strong>{{sensitivity}}%</strong> means that if we gave the test to 100 individuals with the disease, <strong>{{sensitivity}}</strong> of them would test positive for the disease. <blockquote>{{100-sensitivity}} of the individuals would have a <strong>'False Negative'</strong> result. The test would imply they don't have the disease, even though they do</blockquote>" type="button" class="btn btn-primary" ng-click="apply_sensitivity()">Apply Sensitivity {{sensitivity}}%</button>
							</span>
							<input class="form-control" name="sensitivity" type="range" ng-model="sensitivity"/>
						</div>
					</div>
					<div ng-show="is_prevalence_applied" class="col-lg-6 col-sm-6 text-center">
						<div class="input-group">
							<span class="input-group-btn">
								<button type="button" class="btn btn-primary" ng-click="apply_specificity()" popover-trigger="mouseenter" popover-html-unsafe="<h4>Specificity tells us how good a test is at finding people without disease.</h4> So a specificty of <strong>{{specificty}}%</strong> means that if we gave the test to 100 individuals without the disease, <strong>{{specificty}}</strong> of them would test negative for the disease. <blockquote>{{100-specificty}} of the individuals would have a <strong>'False Positive'</strong> result. The test would imply they have the disease, even though they don't</blockquote>">Apply Specificity {{specificity}}%</button>
							</span>
							<input class="form-control" name="specificity" type="range" ng-model="specificity"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>